<appSettings>
  <add key="StartOfDay" value="07:00" />
  <add key="EndOfDay" value="21:30" />
  <add key="SlotDurationMins" value="30" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />


  <add key="ClientId" value="129215d4-3fce-44f3-8999-4a6a3b63eda0" />
  <add key="RedirectUrl" value="http://localhost:56230/" />
  <add key="Tenant" value="common" />
  <add key="Authority" value="https://login.microsoftonline.com/{0}/v2.0" />

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromName" value="National Economic University"/>
  <add key="AdminEmail" value="phaichisophan@gmail.com"/>
  <add key="CurrentLink" value="http://localhost:56230/" />
</appSettings>

