
@{
    ViewBag.Title = "ChuyenLichThatBai";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3 class="text-danger">Chuyển phòng không thành công! Khoảng thời gian này đã có phòng sử dụng. Vui lòng kiểm tra lại thông tin chuyển phòng</h3>
<div class="col-md-5 form-row">
    <i class="fa fa-arrow-left" style="color:#1DC7EA;" aria-hidden="true"> </i>
    @Html.ActionLink("Trở về trang chính", "Index")
</div>

