
@{
    ViewBag.Title = "ChuyenLichThanhCong";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Thay đổi thông tin thành công! Đã gửi thông tin tới người đăng ký.</h3>
<div class="col-md-5 form-row">
    <i class="fa fa-arrow-left" style="color:#1DC7EA;" aria-hidden="true"> </i>
    @Html.ActionLink("Trở về trang chính", "Index")
</div>



