
@{
    ViewBag.Title = "ThemMoiKhongThanhCong";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h4 class="text-danger">Đăng ký không thành công. Bạn vui lòng chọn ngày đăng ký lớn hơn thời điểm hiện tại ít nhất 1 ngày.</h4>
<div class="col-md-5 form-row">
    <i class="fa fa-arrow-left" style="color:#1DC7EA;" aria-hidden="true"> </i>
    @Html.ActionLink("Trở về trang quản lý", "Index")
</div>
