
@{
    ViewBag.Title = "CaiDatThanhCong";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <h2>Lưu cài đặt thành công! </h2>
    <hr />
</div>


<div class="col-md-5 form-row">
    <i class="fa fa-arrow-left" style="color:#1DC7EA;" aria-hidden="true"> </i>
    @Html.ActionLink("Trở về", "Index", "Home")
</div>