
@{
    ViewBag.Title = "ThemMoiMailThanhCong";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div>
    <h3>Bạn đã tạo mới cấu trúc Mail thành công! Vui lòng vào Cài đặt Mail để tùy chỉnh.</h3>
    <hr />
</div>


<div class="col-md-5 form-row">
    <i class="fa fa-arrow-left" style="color:#1DC7EA;" aria-hidden="true"> </i>
    @Html.ActionLink("Trở về", "Index", "Home")
</div>